
net clk_100mhz loc=V10; # 100 MHz board clock
net button(0) loc=A8; # BTNU (Push-Button Switch)
net button(1) loc=D9; # BTNU (Push-Button Switch)
net button(2) loc=C9; # BTNU (Push-Button Switch)
net button(3) loc=C4; # BTNU (Push-Button Switch)
net button(4) loc=B8; # BTNU (Push-Button Switch)
net restart_sw loc=T10; # Slide SW-0 (Slide Switch)
net reset loc=T9; # Slide SW-0 (Slide Switch)
PIN "fdr_inst/XLXI_4/CEO_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
net vout loc=P7; # VGA-VSYNC
net hout loc=N6; # VGA-HSYNC
net rout(0) loc=U7; # VGA-RED0
net rout(1) loc=V7; # VGA-RED1
net rout(2) loc=N7; # VGA-RED2
net gout(0) loc=P8; # VGA-GRN0
net gout(1) loc=T6; # VGA-GRN1
net gout(2) loc=V6; # VGA-GRN2
net bout(0) loc=R7; # VGA-BLU1
net bout(1) loc=T7; # VGA-BLU2
Net SSEG_CA(0) LOC=T17 | IOSTANDARD=LVCMOS33; # Connected to CA
Net SSEG_CA(1) LOC=T18 | IOSTANDARD=LVCMOS33; # Connected to CB
Net SSEG_CA(2) LOC=U17 | IOSTANDARD=LVCMOS33; # Connected to CC
Net SSEG_CA(3) LOC=U18 | IOSTANDARD=LVCMOS33; # Connected to CD
Net SSEG_CA(4) LOC=M14 | IOSTANDARD=LVCMOS33; # Connected to CE
Net SSEG_CA(5) LOC=N14 | IOSTANDARD=LVCMOS33; # Connected to CF
Net SSEG_CA(6) LOC=L14 | IOSTANDARD=LVCMOS33; # Connected to CG
Net SSEG_CA(7) LOC=M13 | IOSTANDARD=LVCMOS33; # Connected to DP
Net SSEG_AN(0) LOC=N16 | IOSTANDARD=LVCMOS33; # Connected to AN0
Net SSEG_AN(1) LOC=N15 | IOSTANDARD=LVCMOS33; # Connected to AN1
Net SSEG_AN(2) LOC=P18 | IOSTANDARD=LVCMOS33; # Connected to AN2
Net SSEG_AN(3) LOC=P17 | IOSTANDARD=LVCMOS33; # Connected to AN3